.product-price {
  margin-bottom: 13px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: #999999;

  strong {
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    color: #2E2E33;
  }
}