.product {
  max-width: 270px;
  max-height: 402px;
  min-height: 402px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid #F5F5F7;
  transition: box-shadow .3s linear;

  &:hover {
    box-shadow: 0 0 20px 0 rgba(34, 60, 80, 0.36);
  }

  &__categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__categories-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    color: #999999;
  }

  &__ratings-block {
    display: flex;
    justify-content: space-between;
    column-gap: 4px;
    align-items: center;
  }

  &__main-text {
    min-width: 270px;
    min-height: 56px;
    max-height: 56px;
    margin: 6px 0 7px;

    p {
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
        cursor: context-menu;
      }
    }
  }

  &__buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}