.product-text {
  min-width: 270px;
  min-height: 56px;
  max-height: 56px;
  margin: 6px 0 7px;

  p {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
      cursor: context-menu;
    }
  }
}