.review-answers-button {
  width: fit-content;
  max-width: 300px;
  padding: 0 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  color: #065fd4;
  font-size: 14px;
  line-height: 36px;
  font-weight: 700;

  &:hover {
    background: #def1ff;
  }

  &__arrow {
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 8px solid #065fd4;
  }

  &__arrow-active {
    transform: rotate(180deg);
  }
}