.pagination {
  margin: 20px 0 20px;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  box-sizing: unset;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  list-style: none;
  max-width: 100vw;
  padding: 0;
  text-align: center;

  &__start-button {
    img {
      transform: rotate(90deg);
    }
  }

  &__end-button {
    img {
      transform: rotate(270deg);
    }
  }
}