.header {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  z-index: 100;

  &__items {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    padding: 10px 20px;
  }

  &__shopping-link {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__show-border {
    border-bottom: 1px solid #e5e5e5;
  }
}